<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>TopConsult</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta content="" name="keywords" />
		<meta content="" name="description" />

<!--		&lt;!&ndash; Favicons &ndash;&gt;-->
<!--		<link href="{% static 'landing/img/tc.png' %}" rel="icon" />-->
<!--		<link href="{% static 'landing/img/tc.png' %}" rel="apple-touch-icon" />-->

<!--		 Google Fonts-->
<!--		<link-->
<!--			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"-->
<!--			rel="stylesheet"-->
<!--		/>-->

		<!-- Bootstrap CSS File -->
		<link href="{% static 'landing/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

		<!-- Libraries CSS Files -->
		<link href="{% static 'landing/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
		<link href="{% static 'landing/lib/animate/animate.min.css' %}" rel="stylesheet" />
		<link href="{% static 'landing/lib/venobox/venobox.css' %}" rel="stylesheet" />
		<link href="{% static 'landing/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />

		<!-- Main Stylesheet File -->
		<link href="{% static 'landing/css/style.css' %}" rel="stylesheet" />
	</head>

	<body>
		<!-- Header
  ============================-->
		<header id="header">
			<div class="container">
				<div id="logo" class="pull-left">
					<!-- Uncomment below if you prefer to use a text logo -->
					<!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
					<a href="#intro" class="scrollto"
						><img src="{% static 'landing/img/logo.png' %}" alt="" title=""
					/></a>
				</div>

				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active">
							<a id="homelink" class="navbar-text" href="#intro">Home</a>
						</li>
						<li>
							<a id="aboutlink" class="navbar-text" href="#about">About</a>
						</li>
						<li>
							<a id="storylink" class="navbar-text" href="#story">Story</a>
						</li>
						<li>
							<a id="countrieslink" class="navbar-text" href="#venue"
								>Countries</a
							>
						</li>
						<li>
							<a id="unversitieslink" class="navbar-text" href="#unversities"
								>Unversities</a
							>
						</li>
						<li>
							<a id="gallerylink" class="navbar-text" href="#gallery"
								>Gallery</a
							>
						</li>
						<li>
							<a id="supporterslink" class="navbar-text" href="#supporters"
								>Services</a
							>
						</li>
						<li><a id="faqlink" class="navbar-text" href="#faq">FAQ</a></li>
						<li>
							<a id="contactlink" class="navbar-text" href="#contact"
								>Contact</a
							>
						</li>
						<li>
							<a href="#">
								<span onclick="uzbek()">UZ</span> |
								<span onclick="russian()">RU</span> |
								<span onclick="english()">ENG</span>
							</a>
						</li>
					</ul>
				</nav>
				<!-- #nav-menu-container -->
			</div>
		</header>
		<!-- #header -->

		<!--==========================
    Intro Section
  ============================-->
		<section class="about-blur" id="intro">
			<div class="intro-container wow fadeIn">
				<h1 class="mb-4 pb-0"><span>TOP </span><span>CONSULT</span></h1>
				<p>Study abroad agency</p>
				<p id="growWithUs" class="mb-4 pb-0">Grow with us</p>
				<a
					href="https://www.youtube.com/watch?v=-bs8bn0LR18"
					class="venobox play-btn mb-4"
					data-vbtype="video"
					data-autoplay="true"
				></a>
				<a id="whyUs" href="#whyUs" class="about-btn scrollto">Why us</a>
			</div>
		</section>

		<main id="main">
			<!--==========================
	  About Section
    ============================-->
			<section id="about">
				<div class="section-header p-lg-5">
					<h2 id="aboutComany" class="pt-3">About company</h2>
					<p id="basicInformation">Basic information</p>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-6 p-3">
							<h4 id="basicInformationOne" class="text-center box-border p-5">
								Top Consulting first LLC is an Uzbek consulting company in the
								field of higher education, foundation courses, master's degrees,
								exchange programs and internships abroud.
							</h4>
						</div>
						<div class="col-lg-6 p-3">
							<h4 id="basicInformationTwo" class="text-center box-border p-5">
								Top Consulting First fully organizes study for everyone, offers
								comprehensive services for those who want to get a quality
								education abroad.
							</h4>
						</div>
					</div>
				</div>
			</section>

			<!--==========================
      whyUs Section
    ============================-->
			<section class="about-blur" id="whyUs">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<h2 id="whyTC">WHY "TOP CONSULT"</h2>
							<p id="whyTCIntro">
								The Top Consulting first team is small, but with big ambitions.
								We are all different, but united into one cohesive team,
								motivated and focused on success. We work together to achieve
								common goals. For us, education is not a business! We want to
								help ordinary people like us, with great enthusiasm, with the
								definition of a future career.
							</p>
						</div>
						<div class="col-lg-3">
							<h3 id="prices">Prices</h3>
							<p id="prices1">
								low price (as we work directly with universities without agent)
							</p>
							<p id="prices2">Payment after issuing the order of admission</p>
							<p id="prices3">Opportunity to make payment partly</p>
							<p id="prices4">
								Visa, career, housing and study support during stidies
							</p>
						</div>
						<div class="col-lg-3">
							<h3 id="fast">Fast</h3>
							<p id="fast1">
								Fast processes (clients receive order of admission within 3 - 5
								days)
							</p>
							<p id="fast2">
								Wide range of options (Available universities in all countries
								for all faculties)
							</p>
						</div>
					</div>
				</div>
			</section>

			<!--==========================
      Speakers Section
    ============================-->
			<section id="story" class="wow fadeInUp">
				<div class="container">
					<div class="section-header">
						<h2 id="ourStory">OUR STORY</h2>
						<p id="ourBrightMemories">Our bright memories</p>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 id="firstStep" class="text-center">First Step</h4>
								<h6 id="firstStepInfo" class="text-center">
									A consulting company that provides services related to
									education, started its activity on 10th November of this year.
								</h6>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 id="firstAgreement" class="text-center">First agreement</h4>
								<h6 id="firstAgreementinfo" class="text-center">
									Poland universities namely " Vistula" , " Kielce Technological
									University"
								</h6>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 id="firstContract" class="text-center">First contract</h4>
								<h6 id="firstContractInfo" class="text-center">
									The first contract with client we made on 25th of November
								</h6>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!--==========================
      Venue Section
    ============================-->
			<section id="venue" class="wow fadeInUp">
				<div class="container-fluid">
					<div class="section-header">
						<h2 id="countries">Countries</h2>
						<p id="countriesInfo">Event venue location info and gallery</p>
					</div>

					<div class="row justify-content-center">
						<div class="col-lg-9">
							<ul id="faq-list">
								<li>
									<a data-toggle="collapse" class="collapsed" href="#faq1"
										><span id="ourValue">Russia</span
										><i class="fa fa-minus-circle"></i
									></a>
									<div id="faq1" class="collapse" data-parent="#faq-list">
										<p id="ourValueInfo">
											Russia - Russia (Russian Federation) - the largest state
											in the world, which occupies 1/6 of the entire land area
											of the Earth. It is a country with a long history, rich
											culture and generous nature. Some architectural and
											historical and cultural monuments on the territory of the
											Russian Federation are included in the list of UNESCO
											World Heritage Sites. Russia is the homeland of great
											poets and writers, artists and architects, scientists,
											musicians, composers, cosmonauts and travelers. Russian
											painting, classical music and ballet are part of the world
											cultural heritage. Russia is located in the Northern
											Hemisphere, in the north of the Eurasia continent.
											Conventionally, the borders between Europe and Asia run
											along the Ural Mountains, the Ural River and the Caspian
											Sea, therefore part of the country is located in Europe,
											part in Asia. Russia shares borders with eighteen
											countries. It has land borders with Norway, Finland,
											Estonia, Latvia, Lithuania, Poland, Belarus, Ukraine,
											Abkhazia, Georgia, South Ossetia, Azerbaijan, Kazakhstan,
											China, Mongolia and North Korea. Sea borders - with Japan
											and the USA. The climate of Central Russia is
											characterized by slight temperature differences. In
											winter, the average temperature here is -10 ° С, and in
											summer - + 20 ° С. In Western Siberia, in winter, the air
											temperature can drop to -40 ° С, and in summer, on
											average, + 20 ° С. The lowest temperatures are in Eastern
											Siberia. In the village of Oymyakon in Yakutia, the lowest
											temperature was noted (-72 ° C). In summer, it is cool and
											humid here, the average temperature is + 19 ° С.
										</p>
									</div>
								</li>
								<li>
									<a data-toggle="collapse" class="collapsed" href="#faq2"
										><span id="ourValue1">Poland</span
										><i class="fa fa-minus-circle"></i
									></a>
									<div id="faq2" class="collapse" data-parent="#faq-list">
										<p id="ourValueInfo1">
											Poland is a state in Eastern Europe. It is located mostly
											in the Central European Plain, as well as in the
											northeastern part of the mountainous regions of Central
											Europe. From the north it is washed by the Baltic Sea. The
											total area of Poland is 312 658 km² (in terms of area it
											ranks 69th in the world and 9th in Europe). Climate. The
											climate of Poland is temperate, transitional from maritime
											to continental. Climatic conditions are influenced by
											colliding ocean masses from the west, cold air from
											Scandinavia and Russia, and warmer subtropical air from
											the south. Currency. Zloty (PLN). Currency can be
											exchanged at specialized exchange offices (Kantor wymiany
											walut or Kantor), no commission is charged. "Exchangers"
											are usually located at train stations or in the historic
											center of the city (as a rule, they are not in banks).
											Banks are open from 8:30 am to 1:00 pm on weekdays
											(central offices until 5:00 pm), some are open until 6:00
											pm. Exchange offices usually work until 19: 00-20: 00, and
											even longer in large tourist centers. Credit cards are
											accepted in many hotels and restaurants, car rental
											companies, etc.
										</p>
									</div>
								</li>
								<li>
									<a data-toggle="collapse" class="collapsed" href="#faq3"
										><span id="ourValue2">Turkey</span
										><i class="fa fa-minus-circle"></i
									></a>
									<div id="faq3" class="collapse" data-parent="#faq-list">
										<p id="ourValueInfo2">
											Turkey is a country of ancient traditions and customs. A
											country of ancient cities filled with modern oriental
											flavor, elders in red frescoes, black-haired beauties in
											dresses made of beads and pearls, the smell of freshly
											baked bread, oriental music and dances - all this is
											Turkey. This country is attractive because it provides a
											wide variety of opportunities for active or relaxing, chic
											or low-budget, large company or romantic and secluded
											recreation. This country, which is open to guests all year
											round: in summer, rest on the beaches of the Mediterranean
											and Aegean Seas, in winter ski resorts, throughout the
											year - historical excursions, adventure tours, shopping.
											Climate and weather in Turkey Turkey's climate varies by
											region. In the west and south, dominated by a
											Mediterranean climate, the summer months are hot and dry
											and the winters mild. The temperature of the water and air
											on the Mediterranean coast allows swimming and sunbathing
											from April to October. But the climate of the Aegean coast
											is a little milder, the air temperature here is 3-5
											degrees lower and the air humidity is less. The swimming
											season is also from April to October. Currency of Turkey
											The monetary unit of Turkey is the Turkish lira. Money can
											be exchanged everywhere, but private exchange offices
											usually offer better rates than banks or hotels. When
											exchanging, please note that the exchange office may take
											a commission for each operation (there should be a
											corresponding announcement about this).
										</p>
									</div>
								</li>
								<li>
									<a data-toggle="collapse" class="collapsed" href="#faq4"
										><span id="ourValue3">Malaysia</span
										><i class="fa fa-minus-circle"></i
									></a>
									<div id="faq4" class="collapse" data-parent="#faq-list">
										<p id="ourValueInfo3">
											Malaysia is an amazing country of unusual combinations,
											where in the capital you can find a traditional Malay
											village, squeezed by skyscrapers; where huge multi-colored
											butterflies sit on the hoods of expensive cars, and a king
											with a magnificent title signs bills proposed by
											parliament. Malaysia, which gained independence only in
											1957, is today an actively developing country, the
											industrial sector of which makes up about half of the GDP;
											in second place is the sphere of services and tourism. It
											is curious that Malaysia is the world leader in the
											production of certain types of household appliances and
											electronics. The motley ethnic composition, friendly
											coexistence of different nationalities with their own
											traditions and customs, combined with the unique nature,
											make Malaysia especially attractive for tourists from all
											over the world. Malaysia is a federal elective
											constitutional monarchy, consisting of three federal
											territories and thirteen states, nine of which are
											monarchies, whose hereditary rulers (sultans) are also the
											spiritual heads of the states. Once every five years, they
											elect the Supreme Ruler of the country - the king (his
											title in Malay sounds like "Yang di-Pertuan Agong"), who
											performs representative functions. The real government of
											the country is in the hands of the parliament and the
											cabinet of ministers. Climate The country is characterized
											by a hot and humid equatorial climate dependent on
											monsoons. During the day and throughout the year, the air
											temperature fluctuates very slightly - from 25 ° to 28 °
											C, only in lowlands, and especially river ones, can exceed
											30 ° C. Air humidity in the rainy season reaches 90% - but
											the showers are mostly short-term (no more than two
											hours). On the east coast of Malacca (West Malaysia), in
											the west of Sarawak and in the northeast of Sabah, the
											rainy season is from October-November to February; on the
											west coast (Langkawi, Penang, Pangkor islands) - in
											April-May and from October to December. There are no
											seismically active zones on the territory of the country -
											this factor and temperature stability allow tourists to
											plan a trip to Malaysia at any time of the year. Currency
											The national currency of Malaysia is the ringgit (denoted
											as MYR); banknotes in denominations of 1, 5, 10, 20, 50
											and 100 ringgit. The ringgit is divided into 100 sen -
											coins of 1, 5, 10, 20, 50 sen are used. Dollars, euros,
											British pounds sterling can be exchanged at all Malaysian
											commercial banks and some hotels. Banks are open on
											weekdays from 9:15 am to 4:30 pm (some are open until 4:00
											pm). The national currency of Malaysia is the ringgit
											(denoted as MYR); banknotes in denominations of 1, 5, 10,
											20, 50 and 100 ringgit. The ringgit is divided into 100
											sen - coins of 1, 5, 10, 20, 50 sen are used. Dollars,
											euros, British pounds sterling can be exchanged at all
											Malaysian commercial banks and some hotels. Banks are open
											on weekdays from 9:15 am to 4:30 pm (some are open until
											4:00 pm).
										</p>
									</div>
								</li>
								<li>
									<a data-toggle="collapse" class="collapsed" href="#faq5"
										><span id="ourValue4">Great Britain</span
										><i class="fa fa-minus-circle"></i
									></a>
									<div id="faq5" class="collapse" data-parent="#faq-list">
										<p id="ourValueInfo4">
											Great Britain's official name is the United Kingdom of
											Great Britain and Northern Ireland - an island state in
											northwest Europe. It consists of four "historic
											provinces": England, Scotland, Wales and Northern Ireland.
											The state is located in the British Isles. The area of
											Great Britain is 243 809 km², the southern coast is
											connected to continental Europe through a 50 km long
											Eurotunnel (of which 38 km are under water). This is the
											longest underwater tunnel in the world. Northern Ireland
											shares a 360 kilometer land border with the Republic of
											Ireland and is the UK's only land border. The Greenwich
											Observatory in London is the site of the prime meridian.
											Climate Great Britain has a temperate oceanic climate with
											a lot of rainfall throughout the year. Temperatures vary
											with the seasons, but rarely drop below -11 ° C or rise
											above 35 ° C. The main winds come from the southwest and
											often bring cold and wet weather from the Atlantic Ocean,
											but the eastern parts of the country are mostly sheltered
											from these winds, and since most of the rainfall occurs in
											the western regions, the eastern ones are the driest. The
											Atlantic currents, warmed by the Gulf Stream, bring mild
											winters, sometimes snowfalls in winter and early spring,
											although snow usually does not last long. Currency unit
											Pound sterling, pound, British pound (£). £ 1 is
											sibdivided into 100p. You can change your currency at
											banks that are open Monday through Friday from 9:30 am to
											3:30 pm (large banks are open until 5:30 pm), as well as
											at currency exchange offices, which often work around the
											clock. It is worthwhile to evaluate in advance the
											profitability of exchanging money at a bank or point,
											comparing the rate and commission.
										</p>
									</div>
								</li>
								<li>
									<a data-toggle="collapse" class="collapsed" href="#faq6"
										><span id="ourValue5">USA</span
										><i class="fa fa-minus-circle"></i
									></a>
									<div id="faq6" class="collapse" data-parent="#faq-list">
										<p id="ourValueInfo5">
											The official name is the United States of America. It is
											ranked third in the world in terms of territory and fourth
											in population. The main territory is located on the North
											American continent and borders in the north with Canada,
											in the south - with Mexico, the east coast is washed by
											the waters of the Atlantic Ocean, the west coast - by the
											Pacific Ocean. Climate The territory of the United States
											is unique, as all climatic zones are represented here,
											from the arctic in Alaska to the tropical in Hawaii. The
											Pacific coast is characterized by a temperate and
											subtropical climate, the Atlantic coast -
											continental-maritime. The average July temperature is +22
											degrees, on the western coast +26 degrees, on the eastern
											and southern inner plateaus and plateaus - up to +32
											degrees.
										</p>
									</div>
								</li>
								<li>
									<a data-toggle="collapse" class="collapsed" href="#faq7"
										><span id="ourValue6">Canada</span
										><i class="fa fa-minus-circle"></i
									></a>
									<div id="faq7" class="collapse" data-parent="#faq-list">
										<p id="ourValueInfo6">
											Canada is a state of the British Commonwealth, and
											formally the head of state is the Queen of England. The
											Queen's official representative in Canada is the Governor
											General, who is appointed by the Queen on the advice of
											the Prime Minister. Canada is a state located in North
											America. Language Canada has two official languages -
											English and French. English is the first language of 16.1
											million Canadians, and French is the first language of 6.6
											million. For many Canadians, their native languages are
											Italian, Chinese, German, Portuguese, Polish, Ukrainian,
											Danish, Greek and others. Canada is the best country to
											live in For several years in a row, Canada has been
											recognized as the best country to live in by the UN
											Commission. The choice is made on the basis of many
											indicators, which include the health care system, the
											quality and availability of education, the cleanliness of
											the environment, protected by the law of individual
											freedoms, and the average level of wages in relation to
											expenses. This can only mean one thing: Canada is a
											country where people with high incomes live, where people
											are tolerant of each other, where the government provides
											free, but at the same time, high-quality medical care,
											where they provide free secondary education, and where it
											is good to live among friendly people. Living standards in
											Canada are considered one of the highest in the world. If
											a person agrees to work, then his future and the future of
											his children in Canada are guaranteed. In 1986, the World
											Bank estimated that every average Canadian is practically
											a millionaire. The average Canadian has 960,000 Canadian
											dollars on hand. Canada is one of the most environmentally
											friendly countries in the world. In Canada, you can safely
											drink tap water, without thinking about the consequences
											associated with Chernobyl or other contamination still
											unknown to us.
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="container-fluid venue-gallery-container">
					<div class="row no-gutters">
						<div class="col-lg-3 col-md-4">
							<div class="venue-gallery">
								<a
									href="{% static 'landing/img/venue-gallery/1.jpg' %}"
									class="venobox"
									data-gall="venue-gallery"
								>
									<img src="{% static 'landing/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid" />
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="venue-gallery">
								<a
									href="{% static 'landing/img/venue-gallery/2.jpg' %}"
									class="venobox"
									data-gall="venue-gallery"
								>
									<img src="{% static 'landing/img/venue-gallery/2.jpg' %}" alt="" class="img-fluid" />
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="venue-gallery">
								<a
									href="{% static 'landing/img/venue-gallery/3.jpg' %}"
									class="venobox"
									data-gall="venue-gallery"
								>
									<img src="{% static 'landing/img/venue-gallery/3.jpg' %}" alt="" class="img-fluid" />
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="venue-gallery">
								<a
									href="{% static 'landing/img/venue-gallery/4.jpg' %}"
									class="venobox"
									data-gall="venue-gallery"
								>
									<img src="{% static 'landing/img/venue-gallery/4.jpg' %}" alt="" class="img-fluid" />
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="venue-gallery">
								<a
									href="{% static 'landing/img/venue-gallery/5.jpg' %}"
									class="venobox"
									data-gall="venue-gallery"
								>
									<img src="{% static 'landing/img/venue-gallery/5.jpg' %}" alt="" class="img-fluid" />
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="venue-gallery">
								<a
									href="{% static 'landing/img/venue-gallery/6.jpg' %}"
									class="venobox"
									data-gall="venue-gallery"
								>
									<img src="{% static 'landing/img/venue-gallery/6.jpg' %}" alt="" class="img-fluid" />
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="venue-gallery">
								<a
									href="{% static 'landing/img/venue-gallery/7.jpg' %}"
									class="venobox"
									data-gall="venue-gallery"
								>
									<img src="{% static 'landing/img/venue-gallery/7.jpg' %}" alt="" class="img-fluid" />
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="venue-gallery">
								<a
									href="{% static 'landing/img/venue-gallery/8.jpg' %}"
									class="venobox"
									data-gall="venue-gallery"
								>
									<img src="{% static 'landing/img/venue-gallery/8.jpg' %}" alt="" class="img-fluid" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!--==========================
     Universities Section
    ============================-->
			<section id="unversities" class="section-with-bg wow fadeInUp">
				<div class="container">
					<div class="section-header">
						<h2 id="universities">Universities</h2>
						<p id="partnerUniversities">Partner Universities</p>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="hotel">
								<div class="hotel-img">
									<img
										src="{% static 'landing/img/Universite/1.jpg' %}"
										alt="Hotel 1"
										class="img-fluid"
									/>
								</div>
								<h3>
									<a target="_blank" href="https://synergy.university/"
										>Synergy University</a
									>
								</h3>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="hotel">
								<div class="hotel-img">
									<img
										src="{% static 'landing/img/Universite/2.jpg' %}"
										alt="Hotel 2"
										class="img-fluid"
									/>
								</div>
								<h3>
									<a target="_blank" href="http://en.tsu.ru/"
										>Tomsk State University</a
									>
								</h3>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="hotel">
								<div class="hotel-img">
									<img
										src="{% static 'landing/img/Universite/3.jpg' %}"
										alt="Hotel 3"
										class="img-fluid"
									/>
								</div>
								<h3>
									<a target="_blank" href="https://www.ostimteknik.edu.tr/"
										>Ostim technical University</a
									>
								</h3>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="hotel">
								<div class="hotel-img">
									<img
										src="{% static 'landing/img/Universite/4.jpg' %}"
										alt="Hotel 1"
										class="img-fluid"
									/>
								</div>
								<h3>
									<a target="_blank" href="https://international.tu.kielce.pl/"
										>Kielce University of technology</a
									>
								</h3>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="hotel">
								<div class="hotel-img">
									<img
										src="{% static 'landing/img/Universite/5.jpg' %}"
										alt="Hotel 2"
										class="img-fluid"
									/>
								</div>
								<h3>
									<a target="_blank" href="https://www.kent.edu.tr/"
										>Istanbul Kent University</a
									>
								</h3>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="hotel">
								<div class="hotel-img">
									<img
										src="{% static 'landing/img/Universite/6.png' %}"
										alt="Hotel 3"
										class="img-fluid"
									/>
								</div>
								<h3>
									<a target="_blank" href="https://www.tajmedun.tj/"
										>Tajik State Medical University</a
									>
								</h3>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="hotel">
								<div class="hotel-img">
									<img
										src="{% static 'landing/img/Universite/7.jpg' %}"
										alt="Hotel 1"
										class="img-fluid"
									/>
								</div>
								<h3>
									<a target="_blank" href="https://www.vistula.edu.pl/"
										>Vistula University</a
									>
								</h3>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="hotel">
								<div class="hotel-img">
									<img
										src="{% static 'landing/img/Universite/8.jpg' %}"
										alt="Hotel 2"
										class="img-fluid"
									/>
								</div>
								<h3>
									<a target="_blank" href="https://www.tgpu.tj/"
										>State Pedagogical University</a
									>
								</h3>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="hotel">
								<div class="hotel-img">
									<img
										src="{% static 'landing/img/Universite/9.jpg' %}"
										alt="Hotel 3"
										class="img-fluid"
									/>
								</div>
								<h3>
									<a target="_blank" href="http://www.rtsu.tj/"
										>Tajik State University of Tourism</a
									>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--==========================
       Gallery Section
    ============================-->
			<section id="gallery" class="wow fadeInUp">
				<div class="container">
					<div class="section-header">
						<h2 class="gallery">Gallery</h2>
						<p id="galleryInfo">Check our gallery from the recent events</p>
					</div>
				</div>

				<div class="owl-carousel gallery-carousel">

					<a
						href="{% static 'landing/img/gallery/2.jpg' %}"
						class="venobox"
						data-gall="gallery-carousel"
						><img src="{% static 'landing/img/gallery/2.jpg' %}" alt=""
					/></a>
					<a
						href="{% static 'landing/img/gallery/3.jpg' %}"
						class="venobox"
						data-gall="gallery-carousel"
						><img src="{% static 'landing/img/gallery/3.jpg' %}" alt=""
					/></a>
					<a
						href="{% static 'landing/img/gallery/4.jpg' %}"
						class="venobox"
						data-gall="gallery-carousel"
						><img src="{% static 'landing/img/gallery/4.jpg' %}" alt=""
					/></a>
					<a
						href="{% static 'landing/img/gallery/5.jpg' %}"
						class="venobox"
						data-gall="gallery-carousel"
						><img src="{% static 'landing/img/gallery/5.jpg' %}" alt=""
					/></a>
					<a
						href="{% static 'landing/img/gallery/6.jpg' %}"
						class="venobox"
						data-gall="gallery-carousel"
						><img src="{% static 'landing/img/gallery/6.jpg' %}" alt=""
					/></a>
					<a
						href="{% static 'landing/img/gallery/7.jpg' %}"
						class="venobox"
						data-gall="gallery-carousel"
						><img src="{% static 'landing/img/gallery/7.jpg' %}" alt=""
					/></a>
					<a
						href="{% static 'landing/img/gallery/8.jpg' %}"
						class="venobox"
						data-gall="gallery-carousel"
						><img src="{% static 'landing/img/gallery/8.jpg' %}" alt=""
					/></a>
					<a
						href="{% static 'landing/img/gallery/9.jpg' %}"
						class="venobox"
						data-gall="gallery-carousel"
						><img src="{% static 'landing/img/gallery/9.jpg' %}" alt=""
					/></a>
					<a
						href="{% static 'landing/img/gallery/10.jpg' %}"
						class="venobox"
						data-gall="gallery-carousel"
						><img src="{% static 'landing/img/gallery/10.jpg' %}" alt=""
					/></a>
				</div>
			</section>

			<!--==========================
      Sponsors Section
    ============================-->
			<section id="supporters" class="section-with-bg wow fadeInUp">
				<div class="container">
					<div class="section-header">
						<h2 class="servicesPrograms">Services and Programs</h2>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 id="summerSchools" class="text-center">Summer schools</h4>
								<h6 id="summerSchoolsInfo" class="text-center">
									Summer schools (in Britain they are called Summer School) is a
									program, usually lasting 2 weeks or more, during which
									attendees are usually offered intensive study of certain
									subjects in combination with extracurricular activities. As
									the name suggests, these courses are traditionally organized
									in the summer between school or university terms. In most
									cases, they involve boarding.
								</h6>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 id="farabi" class="text-center">
									The Farabi Exchange Program
								</h4>
								<h6 id="farabiinfo" class="text-center">
									The Farabi Exchange Program is a student and teacher exchange
									program between higher education institutions, providing
									education and training at the junior, senior, graduate and
									doctoral levels at universities and high technology
									institutes. The Farabi exchange program aims to enable
									students or teachers to continue their studies and studies at
									a higher education institution outside their educational
									institution for one or two semesters.
								</h6>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 id="preparatoryCourses" class="text-center">
									Preparatory courses
								</h4>
								<h6 id="preparatoryCoursesInfo" class="text-center">
									Preparatory courses (sub. Courses) - this is the zero course
									of the undergraduate program. Designed for group additional
									training in major disciplines before entrance exams to a
									higher educational institution. Students in preparatory
									courses are called applicants. Most often, classes are held on
									weekdays in the evening, less often on Saturdays. The volume
									of courses can be about 4 classroom hours per week for several
									months. Usually, training is conducted on the educational
									premises of the university.
								</h6>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 id="languageCourses" class="text-center">
									Language courses
								</h4>
								<h6 id="languageCoursesinfo" class="text-center">
									An educational course in which a foreign language is taught.
								</h6>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 id="bachelor" class="text-center">Bachelor</h4>
								<h6 id="bachelorinfo" class="text-center">
									Bachelor is a full-fledged higher education. In the diploma of
									such a graduate it will be written: "A bachelor's
									qualification (degree) has been awarded in such and such a
									direction."
								</h6>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 id="master" class="text-center">Master's degree</h4>
								<h6 id="masterInfo" class="text-center">
									Master's degree is another two years at the institute. It is
									provided for those who want to go to science or become a
									teacher.
								</h6>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 class="text-center">PhD</h4>
								<h6 id="phdInfo" class="text-center">
									PhD is an academic degree of a doctor of philosophy or other
									specialties not related to philosophy (here we mean the
									totality of sciences, not a specialty), which is awarded in
									America, Canada, Germany or other Western countries and is the
									last stage of education.
								</h6>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 class="text-center">Foundation</h4>
								<h6 id="foundationInfo" class="text-center">
									Foundation is a program for preparing applicants for a
									university, helping them to adapt in the country of study, to
									improve their level of foreign language proficiency and
									acquire additional academic skills to meet all the
									requirements of study in a higher education institution.
								</h6>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="speaker">
								<h4 id="erasmus" class="text-center">
									Erasmus Exchange Program
								</h4>
								<h6 id="erasmusInfo" class="text-center">
									Erasmus Exchange Program - Through the Erasmus program,
									students and employees can gain a significant advantage in the
									business world, as well as have work experience abroad, and
									they can make their resumes more attractive on their business
									platforms by increasing their foreign language proficiency.
								</h6>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!--==========================
      F.A.Q Section
    ============================-->
			<section id="faq" class="wow fadeInUp">
				<div class="container">
					<div class="section-header">
						<h2>F.A.Q</h2>
					</div>

					<div class="row justify-content-center">
						<div class="col-lg-9">
							<ul id="faq-list">
								<li>
									<a data-toggle="collapse" class="collapsed" href="#faq1"
										><span id="faqTitle">What is apostille?</span
										><i class="fa fa-minus-circle"></i
									></a>
									<div id="faq1" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo">
											international standardized filling form information about
											the legality of the document for presentation to
											territories of countries that recognize this form of
											legalization. The Apostille stamp is placed on originals
											and copies of documents.
										</p>
									</div>
								</li>

								<li>
									<a data-toggle="collapse" href="#faq2" class="collapsed">
										<span id="faqTitle1">Where can I get an apostille?</span>
										<i class="fa fa-minus-circle"></i
									></a>
									<div id="faq2" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo1">
											state bodies authorized to affix apostille in Uzbekistan,
											these are, first of all, various ministries: Ministry of
											Justice of the Republic of Uzbekistan, Ministry of Foreign
											Affairs of the Republic of Uzbekistan; as well as the
											General Prosecutor's Office Of the Republic of Uzbekistan
											and the State Testing Center under the Cabinet of
											Ministers of the Republic of Uzbekistan.
										</p>
									</div>
								</li>

								<li>
									<a data-toggle="collapse" href="#faq3" class="collapsed"
										><span id="faqTitle2">Why do you need an apostille? </span
										><i class="fa fa-minus-circle"></i
									></a>
									<div id="faq3" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo2">
											such a form is documented and guaranteed to confirm that
											your document is legal and can be used for outside the
											Republic of Uzbekistan.
										</p>
									</div>
								</li>

								<li>
									<a data-toggle="collapse" href="#faq4" class="collapsed"
										><span id="faqTitle3"
											>What does an apostille look like?</span
										>
										<i class="fa fa-minus-circle"></i
									></a>
									<div id="faq4" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo3">
											the apostille form is the same in all countries: in the
											"cap" the document has the word "Apostille" in French,
											followed by the inscription “Convention de la Haye du 5
											octobre 1961 "or" The Hague Convention of October 5, 1961
											".
										</p>
									</div>
								</li>

								<li>
									<a data-toggle="collapse" href="#faq5" class="collapsed"
										><span id="faqTitle4">Where is the apostille affixed?</span
										><i class="fa fa-minus-circle"></i
									></a>
									<div id="faq5" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo4">
											the apostille stamp can be placed as on the original
											document, and on its notarized copy (for example, on a
											birth certificate in Uzbekistan). On the original, as well
											as on its certified translation, this stamp necessary in
											cases where the feed is performed originals of documents
											to the countries where the certification through several
											instances (the so-called double apostille). Under such
											conditions, the applicant has to collect a much larger
											number of inquiries non-commercial purposes, confirming
											the authenticity the signatures of the person who issued
											them.
										</p>
									</div>
								</li>

								<li>
									<a data-toggle="collapse" href="#faq6" class="collapsed"
										><span id="faqTitle5"
											>How long will the visa process take?</span
										>
										<i class="fa fa-minus-circle"></i
									></a>
									<div id="faq6" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo5">
											The term for consideration of a package of documents for a
											visa is up to 8 weeks (on average 4-6) (Germany).
										</p>
									</div>
								</li>

								<li>
									<a data-toggle="collapse" href="#faq7" class="collapsed"
										><span id="faqTitle6">Why do you need insurance?</span
										><i class="fa fa-minus-circle"></i
									></a>
									<div id="faq7" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo6">
											insurance policy guarantees reimbursement of treatment
											costs in the event of an accident or illness, it will help
											when transporting home or in case of unforeseen
											circumstances, such as the loss of luggage, cancellation,
											and so Further.
										</p>
									</div>
								</li>

								<li>
									<a data-toggle="collapse" href="#faq8" class="collapsed"
										><span id="faqTitle7">Where can I get insurance?</span>
										<i class="fa fa-minus-circle"></i
									></a>
									<div id="faq8" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo7">GROSS INSURANCE</p>
									</div>
								</li>

								<li>
									<a data-toggle="collapse" href="#faq9" class="collapsed"
										><span id="faqTitle8">Why do I need a bank account?</span>
										<i class="fa fa-minus-circle"></i
									></a>
									<div id="faq9" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo8">
											if you want to get a visa as a foreign student or visa
											applicant, you will need to prove that you have sufficient
											funds. You can do it using a closed bank account.
										</p>
									</div>
								</li>

								<li>
									<a data-toggle="collapse" href="#faq10" class="collapsed"
										><span id="faqTitle9">Can I transfer?</span>
										<i class="fa fa-minus-circle"></i
									></a>
									<div id="faq10" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo9">
											from any university in the top 1000 you can translate
											without an exam, in any other case translation is done
											through an exam.
										</p>
									</div>
								</li>

								<li>
									<a data-toggle="collapse" href="#faq11" class="collapsed"
										><span id="faqTitle10"
											>Will the diploma be quoted in Uzbekistan?</span
										>
										<i class="fa fa-minus-circle"></i
									></a>
									<div id="faq11" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo10">
											diploma of any foreign accredited university will be
											considered in Uzbekistan, subject to nostrification, and
											diplomas of the CIS countries pass without nostrification
										</p>
									</div>
								</li>

								<li>
									<a data-toggle="collapse" href="#faq12" class="collapsed"
										><span id="faqTitle11"
											>Is it possible to pay for the contract in part?</span
										>
										<i class="fa fa-minus-circle"></i
									></a>
									<div id="faq12" class="collapse" data-parent="#faq-list">
										<p id="faqTitleInfo11">
											the contract can be paid in part, but if you make a
											payment immediately for a whole year, you can get
											discounts for 2-4 years learning.
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!--==========================
        Subscribe Section
    ============================-->
			<section id="subscribe">
				<div class="container wow fadeInUp">
					<div class="section-header">
						<h2 id="ourMission">OUR MISSION</h2>
						<p id="ourMissionInfo">
							To provide qualified assistance in choosing the most optimal
							learning strategy that will form a successful model of the future
							for a person. To raise the level of education in our Republic.
							Expand the boundaries of cooperation with foreign countries. To
							become an international consulting company for the organization of
							study abroad programs.
						</p>
					</div>
				</div>
			</section>

			<!--==========================

      Contact Section
    ============================-->
			<section id="contact" class="section-bg wow fadeInUp">
				<div class="container">
					<div class="section-header">
						<h2 id="contactUs">Contact us</h2>
						<p id="contactUsInfo">Easier with us</p>
					</div>

					<div class="row contact-info">
						<div class="col-md-4">
							<div class="contact-address">
								<i class="ion-ios-location-outline"></i>
								<h3 id="district">Chilanzar District</h3>
								<address id="address">7A Arnasay Street</address>
							</div>
						</div>

						<div class="col-md-4">
							<div class="contact-phone">
								<i class="ion-ios-telephone-outline"></i>
								<h3 id="phoneNumber">Phone Number</h3>
								<p><a href="tel:+155895548855">+99890 015 9952</a></p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="contact-email">
								<i class="ion-ios-email-outline"></i>
								<h3>Email</h3>
								<p>
									<a href="mailto:topconsult.first@gmail.com"
										>topconsult.first@gmail.com</a
									>
								</p>
							</div>
						</div>
					</div>

					<div class="form">
<!--						<div id="sendmessage">Your message has been sent. Thank you!</div>-->
<!--						-->
						{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<!--						-->
						<div id="errormessage"></div>
						<form action="{% url 'home'%}" method="post" role="form" class="contactForm">
							{% csrf_token %}
							<div class="form-row">
								<div class="form-group col-md-6">
<!--									<input-->
<!--										type="text"-->
<!--										name="name"-->
<!--										class="form-control"-->
<!--										id="name"-->
<!--										placeholder="Your Name"-->
<!--										data-rule="minlen:4"-->
<!--										data-msg="Please enter at least 4 chars"-->
<!--									/>-->
									{{ form.name }}
									<div class="validation"></div>
								</div>
								<div class="form-group col-md-6">
<!--									<input-->
<!--										type="email"-->
<!--										class="form-control"-->
<!--										name="email"-->
<!--										id="email"-->
<!--										placeholder="Your Email"-->
<!--										data-rule="email"-->
<!--										data-msg="Please enter a valid email"-->
<!--									/>-->
									{{ form.email }}
									<div class="validation"></div>
								</div>
							</div>
							<div class="form-group">
<!--								<input-->
<!--									type="text"-->
<!--									class="form-control"-->
<!--									name="subject"-->
<!--									id="subject"-->
<!--									placeholder="Subject"-->
<!--									data-rule="minlen:4"-->
<!--									data-msg="Please enter at least 8 chars of subject"-->
<!--								/>-->
								{{ form.subject }}
								<div class="validation"></div>
							</div>
							<div class="form-group">
<!--								<textarea-->
<!--									class="form-control"-->
<!--									name="message"-->
<!--									rows="5"-->
<!--									data-rule="required"-->
<!--									data-msg="Please write something for us"-->
<!--									placeholder="Message"-->
<!--								></textarea>-->
								{{ form.message }}
								<div class="validation"></div>
							</div>
							<div class="text-center">
								<button id="sendMessage" type="submit">Send Message</button>
							</div>
						</form>
					</div>
				</div>
			</section>
			<!-- #contact -->
		</main>

		<!--==========================
    Footer
  ============================-->
		<footer id="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 footer-info">
							<img src="{% static 'landing/img/logo.png' %}" alt="TheEvenet" />
							<p id="whyTopConsulting">
								The Top Consulting First team is small, but with big ambitions.
								We are all different, but united into one cohesive team,
								motivated and focused on success. We work together to achieve
								common goals. For us, education is not a business! We want to
								help ordinary people like us, with great enthusiasm, with the
								definition of a future career.
							</p>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">
							<ul>
								<li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="#about">About</a>
								</li>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="#unversities">University</a>
								</li>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="#faq">FAQ</a>
								</li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">
							<ul>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="#venue">Countries</a>
								</li>
								<li>
									<i class="fa fa-angle-right"></i> <a href="#story">Story</a>
								</li>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="#gallery">Gallery</a>
								</li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-6 footer-contact">
							<h4 id="contactUs1">Contact Us</h4>
							<p>
								Tashkent, Chilanzar, 7A Arnasay <br />
								<strong>Phone:</strong> +99890 015 99 52<br />
								<strong>Email:</strong> topconsult@gmail.com<br />
							</p>

							<div class="social-links">
								<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" class="instagram"
									><i class="fa fa-instagram"></i
								></a>
								<a href="#" class="google-plus"
									><i class="fa fa-google-plus"></i
								></a>
								<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="copyright">
					&copy; Copyright <strong>TOP CONSULT</strong>. All Rights Reserved
				</div>
				<div class="credits">
					Designed by <a href="https://shakhzodtojiyev.uz">shakhzodtojiyev</a>
				</div>
			</div>
		</footer>
		<!-- #footer -->

		<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

		<!-- JavaScript Libraries -->
		<script src="{% static 'landing/lib/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'landing/lib/jquery/jquery-migrate.min.js' %}"></script>
		<script src="{% static 'landing/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'landing/lib/easing/easing.min.js' %}"></script>
		<script src="{% static 'landing/lib/superfish/hoverIntent.js' %}"></script>
		<script src="{% static 'landing/lib/superfish/superfish.min.js' %}"></script>
		<script src="{% static 'landing/lib/wow/wow.min.js' %}"></script>
		<script src="{% static 'landing/lib/venobox/venobox.min.js' %}"></script>
		<script src="{% static 'landing/lib/owlcarousel/owl.carousel.min.js' %}"></script>
		<script src="{% static 'landing/js/language.js' %}"></script>


		<!-- Contact Form JavaScript File -->
<!--		<script src="{% static 'landing/contactform/contactform.js' %}"></script>-->

		<!-- Template Main Javascript File -->
		<script src="{% static 'landing/js/main.js' %}"></script>

	</body>
</html>
